<div id = "newPlayerForm">
   <div>
     <label>Name: </label>
     <input #newName>
   </div>
   <div>
    <label>Character descriptor:</label>
    <select #newGenre>
      <option> Hulking </option>
      <option> Sneaky </option>
      <option> Omnipotent </option>
      <option> Insane </option>
      <option> Grouchy </option>
      <option> Cowardly </option>
    </select>
   </div>
   <div>
     <button class="button-margin" (click)="submitForm(newName.value, newGenre.value); newName.value=''; newGenre.value='';">Add</button>
   </div>
 </div>
